@mixin outer{
    margin-left: 15%;
    margin-right: 15%;
}

body{
	background-color: #1a202c;
}
.main{
    @include outer;
    

    header{
        margin-top: 4%;
        hr{
            border-top: 2px solid #2f3744;
        }

        h1{
            
            color: white;
            font-size: 3rem;
            font-family: 'Baloo Paaji 2', cursive;
            i{
                margin-left: 65%;
                color: white;
                opacity: 0.6;

                
            }
            i:hover{
                opacity: 1;
            }
           
        }
        h6{
            margin-top: 3%;
            font-size: 1.1em;
            color: white;
            opacity: 0.5;
            font-family: 'IBM Plex Sans', sans-serif;
            span{
                margin-left: 1%;
            }
         
            .social{
               margin-left: 60%;
               span{
                   margin-left: 0.2%;
               }
            }
        }
        
    }
}
