@mixin outer{
    margin-left: 15%;
    margin-right: 15%;
}

@mixin card($size){
    
        i{
            
            color: orangered;
            font-size: $size;
        }
        
        div{
            
            div{
                        
                padding: 10% 5%;
                border: 1px solid orangered;
                margin-top: 10%;
                h3{
                    margin-top: 3%;
                    font-size: 2.2rem;
                    color: white;
                    font-family: 'Baloo Paaji 2', cursive;

                    
                }
                h6{
                    font-size: 1.1rem;
                    color:white;
                    font-family: 'IBM Plex Sans', sans-serif;
                }
                p{
                    font-size: 0.9rem;
                    color:orangered;
                    font-family: 'IBM Plex Sans', sans-serif;
                }
            }
        }
    
}

@mixin theme{

}

body{
	background-color: #1a202c;
}
.main{
    @include outer;
    hr{
        border-top: 2px solid #2f3744;
    }

    header{
        margin-top: 4%;
        
        hr{
            border-top: 2px solid #2f3744;
        }

        h1{
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 3rem;
            font-family: 'Baloo Paaji 2', cursive;
            button{
                background-color: #1a202c;
                border: none;
            }
            i{
                font-size: 2rem;
                color: white;
                opacity: 0.6;
                cursor: pointer;
                
            }
            i:hover{
                opacity: 0.8;
                color:orangered
            }
           
        }
        h6{
            display: flex;
            justify-content: space-between;
            margin-top: 3%;
            font-size: 1.1em;
            color: white;
            
            font-family: 'IBM Plex Sans', sans-serif;
            span{
                margin-left: 1%;
                cursor: pointer;
                opacity: 0.5;
                a{
                    color: white;
                }
            }
            span:hover{
                color:white;
                opacity: 1;
                font-weight: 700;

            }
        }
        
    }
    .skill{
        color:orangered;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 3rem;
        i{
            
            font-size: 2rem;
        }
    }
}

.content{
    margin-top: 15%;
    
    h1{
        color: white;
        font-size: 4rem;
    }
    p{
        font-weight: 900;
        margin-top: 2%;
        font-size: 1.5rem;
        color:white;
        line-height: 40px;
        opacity: 0.8;
        font-family: 'IBM Plex Sans', sans-serif;
        span{
            color:orangered;
            font-weight: 900;
            font-family: 'Baloo Paaji 2', cursive;
        }
    }
}
.progress-bar{
    background-color:orangered 
}
.phead{
    color: #7c899a;
    font-family: 'Baloo Paaji 2', cursive;
}
.progressdiv{
    margin-top: 4%;
}
.exp {
    @include card(3.5rem);
}
.achi{
        @include card(1.5rem);
        img{

            height: 250px;
            width: 200px;
        }
        h5{
            font-size: 2.0rem;
            color: orangered;
            font-family: 'IBM Plex Sans', sans-serif;
        }
    }
    .lighttheme{
        background-color: white;
        h1{
            color: black;
        }
        h6{
            color: black;
        }
        h2{
            color: black;
        }
        h3{
            color: black;
        }
        h4{
            color: black;
        }
        h5{
            color: black;
        }
        p{
            color: black;
        }
        
    }
